
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo&family=Arimo&family=Audiowide&family=Barlow+Condensed&family=Bitter&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300&family=Fjalla+One&family=Heebo&family=Hind&family=IBM+Plex+Sans:wght@200&family=Inter:wght@500;600&family=Lato:wght@400;700&family=League+Spartan&family=Libre+Franklin&family=Lora:ital@1&family=M+PLUS+1&family=Montserrat:wght@300&family=Mulish:ital,wght@0,200;0,500;1,300&family=Nunito&family=Open+Sans&family=Oswald&family=Overpass&family=PT+Sans:wght@700&family=PT+Serif&family=Poppins&family=Questrial&family=Roboto+Serif:wght@300;400&family=Roboto:wght@300;500;900&family=Rubik:wght@300&family=Secular+One&family=Smooch+Sans&family=Source+Sans+Pro:wght@300;400&family=Ubuntu&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo&family=Arimo&family=Audiowide&family=Barlow+Condensed&family=Bitter&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300&family=Fjalla+One&family=Heebo&family=Hind&family=IBM+Plex+Sans:wght@200&family=Inter:wght@500;600&family=Lato:wght@400;700&family=League+Spartan&family=Libre+Franklin&family=Lora:ital@1&family=M+PLUS+1&family=Montserrat:wght@300;400&family=Mulish:ital,wght@0,200;0,500;1,300&family=Nunito&family=Open+Sans&family=Oswald&family=Overpass&family=PT+Sans:wght@700&family=PT+Serif&family=Poppins&family=Questrial&family=Roboto+Serif:wght@300;400&family=Roboto:wght@300;500;900&family=Rubik:wght@300&family=Secular+One&family=Smooch+Sans&family=Source+Sans+Pro:wght@300;400&family=Ubuntu&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo&family=Arimo&family=Audiowide&family=Barlow+Condensed&family=Bitter&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300&family=Fjalla+One&family=Heebo&family=Hind&family=IBM+Plex+Sans:wght@200&family=Inter:wght@500;600&family=Lato:wght@400;700&family=League+Spartan&family=Libre+Franklin&family=Lora:ital@1&family=M+PLUS+1&family=Montserrat:wght@300;400&family=Mulish:ital,wght@0,200;0,500;1,300&family=Nunito&family=Open+Sans&family=Oswald&family=Overpass&family=PT+Sans:wght@700&family=PT+Serif&family=Poppins&family=Questrial&family=Roboto+Serif:wght@300;400&family=Roboto:wght@300;500;900&family=Rubik:wght@300&family=Secular+One&family=Smooch+Sans&family=Source+Sans+Pro:wght@300;400&family=Ubuntu&family=Yellowtail&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  margin: auto;
  position: relative;
  width: 750px;
}
.container{
  width: 100%;
  margin: auto;
  box-shadow: 0px 0px 7px 2px #ad9a6f;
  line-height: 21px;
  font-family: Lato;
  font-size: 14.2px;
  display: grid;
  grid-template-columns: 65% 1fr;
  background-color: #fdfdfd;
}
.header-data,.profile,.objective,.skills,.work,.contact,.education,.lang,.refer,.certi,.projects{
  grid-template-columns: 20% 1fr;
  display: grid;
}
.left-data{
  background-color: #0a2b4e;
}
hr{
  border:1px solid #0a2b4e;
}
.second-div{
  background-color: #0a2b4e;
  padding-right: 20px;
}
h3{
  font-family:M PLUS 1;
  display: inline-block;
  position: absolute;
  transform: rotate(-90deg);
  color: #e2fafc;
  font-size: 17px;
}
.address{
  margin-bottom: 20px;
}
.heading-profile{
  top: 239px;
  left: 20px;
}
.heading-objective{
  top: 416px;
  left: 5px;
}
.heading-skills{
  top: 586px;
  left: 12px;
}
.heading-work{
  top: 776px;
  left: -26px;
}
.heading-contact{
  top: 108px;
  right: 182px;
}
.heading-edu{
  top: 331px;
  right: 187px;
}
.heading-lang{
  top: 820px;
  right: 187px;
}
.heading-refer{
  top: 973px;
  right: 185px;
}
.heading-certi{
  top: 47px;
  right: 160px;
}
.n{
  color: #e2fafc;
  font-size: 26px;
  position: relative;
  top: 107px;
  left: 45px;
  display: inline-block;
}
.profile-para,.obj-para,.skill-data,.expe-data{
  margin: 20px 10px 20px 10px;
}
.contact,.education,.lang,.refer,.certi,.social{
  margin-bottom: 50px;
  color: #e2fafc;
}
.edu1,.edu2,.sub-references1{
  margin-bottom: 20px;
}
.contact{
  margin-top: 60px;
}
.work1,.work2,.work3,.work4,.work5{
  margin-bottom: 15px;
}
.work6{
  margin-bottom: 55px;
}
.img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 20px;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.right-data1{
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
}
.first-div .right-data{
  margin-right: 15px;
  color: #013064;
  font-weight: 500;
}
.name{
  position: relative;
  top: 53px;
  left: 17px;
  display: inline-block;
  font-family: Inter;
  font-weight: bold;
  font-size: 18px;
}
.address{
  line-height: 17px;
}
.progressbar{
  width: 80%;
  height: 12px;
  border: 2px solid black;
  background-color: white;
  margin-bottom: 10px;
  position: relative;
  top: 5px;
}
.lang .progressbar{
  width: 80%;
  height: 12px;
  border: 1px solid white;
  background-color: #0a2b4e;
  margin-bottom: 10px;
  position: relative;
  top: 5px;
}
.skill,.lang-data{
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 30px;
}
.fill{
  background-color: #0a2b4e;
  height: 100%;
}
.lang .fill{
  background-color: white;
  height: 100%;
}
.fill1{
  width: 69%;
}
.fill2{
  width: 79%;
}
.fill3{
  width: 89%;
}
.fill4{
  width: 69%;
}
.fill5{
  width: 89%;
}
.work .work-time{
  margin-left: 25px;
}
.education .work-time{
  margin-bottom: 6px;
}
.refer .work-time,.certi,.social{
  margin-bottom: 6px;
}
.bold-para{
  font-weight: bold;
  margin-right: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name-data{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 17px;
  position: relative;
  top: 6px;
}
.phone,.email{
  margin-bottom: 4px;
}
.profile-para,.obj-para{
  line-height: 17px;
  text-align: justify;
  font-weight: 600;
}
.certi-para1{
  margin-bottom: 25px;
}
.date{
  font-weight: bold;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.certi{
  position: relative;
  bottom: 40px;
}
.social{
  margin-left: 20px;
}
.projects .right-data{
  margin-left: 10px;
  position: relative;
  bottom: 30px;
}
.p-link{
  color: rgb(103, 103, 218);
  margin-bottom: 10px;
}
.projects,.social{
  display: none;
}