@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Arimo&family=Audiowide&family=Barlow+Condensed&family=Bitter&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300&family=Heebo&family=Hind&family=IBM+Plex+Sans:wght@200&family=Inter:wght@500;600&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=Nunito&family=Open+Sans&family=Oswald&family=PT+Sans:wght@700&family=PT+Serif&family=Questrial&family=Roboto+Serif:wght@300;400&family=Roboto:wght@300;500;900&family=Rubik:wght@300;400&family=Secular+One&family=Smooch+Sans&family=Source+Sans+Pro:wght@300;400&family=Ubuntu&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Arimo&family=Audiowide&family=Barlow+Condensed&family=Bitter&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300&family=Heebo&family=Hind&family=Inter:wght@500;600&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=Nunito&family=Open+Sans&family=Oswald&family=PT+Sans:wght@700&family=PT+Serif&family=Questrial&family=Roboto+Serif:wght@300;400&family=Roboto:wght@300;500;900&family=Rubik:wght@300;400&family=Secular+One&family=Smooch+Sans&family=Source+Sans+Pro:wght@300;400&family=Ubuntu&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Arimo&family=Audiowide&family=Barlow+Condensed&family=Bitter&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300&family=Heebo&family=Hind&family=IBM+Plex+Sans:wght@200&family=Inter:wght@500;600&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=Nunito&family=Open+Sans&family=Oswald&family=PT+Sans:wght@700&family=PT+Serif&family=Questrial&family=Roboto+Serif:wght@300;400&family=Roboto:wght@300;500;900&family=Rubik:wght@300;400&family=Secular+One&family=Smooch+Sans&family=Source+Sans+Pro:wght@300;400&family=Ubuntu&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Arimo&family=Audiowide&family=Barlow+Condensed&family=Bitter&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300&family=Heebo&family=Hind&family=IBM+Plex+Sans:wght@200&family=Inter:wght@500;600&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=Nunito&family=Open+Sans&family=Oswald&family=Overpass&family=PT+Sans:wght@700&family=PT+Serif&family=Questrial&family=Roboto+Serif:wght@300;400&family=Roboto:wght@300;500;900&family=Rubik:wght@300;400&family=Secular+One&family=Smooch+Sans&family=Source+Sans+Pro:wght@300;400&family=Ubuntu&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Arimo&family=Audiowide&family=Barlow+Condensed&family=Bitter&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300&family=Heebo&family=Hind&family=IBM+Plex+Sans:wght@200&family=Inter:wght@500;600&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=Nunito&family=Open+Sans&family=Oswald&family=Overpass&family=PT+Sans:wght@700&family=PT+Serif&family=Questrial&family=Roboto+Serif:wght@300;400&family=Roboto:wght@300;500;900&family=Rubik:wght@300;400&family=Secular+One&family=Smooch+Sans&family=Source+Sans+Pro:wght@300;400&family=Ubuntu&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Arimo&family=Audiowide&family=Barlow+Condensed&family=Bitter&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300&family=Heebo&family=Hind&family=IBM+Plex+Sans:wght@200&family=Inter:wght@500;600&family=Lato:wght@400;700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=Nunito&family=Open+Sans&family=Oswald&family=Overpass&family=PT+Sans:wght@700&family=PT+Serif&family=Questrial&family=Roboto+Serif:wght@300;400&family=Roboto:wght@300;500;900&family=Rubik:wght@300;400&family=Secular+One&family=Smooch+Sans&family=Source+Sans+Pro:wght@300;400&family=Ubuntu&family=Yellowtail&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  margin: auto;
  position: relative;
  width: 750px;
}
.container{
  width: 100%;
  margin: auto;
  box-shadow: 0px 0px 7px 2px #ad9a6f;
  line-height: 22px;
  font-family: Lato;
  font-size: 14px;
}
.first-div{
  display: grid;
  grid-template-columns: 60% 1fr;
}
.header{
  background-color: #0fa997;
  color: #f9fafa;
  padding-top: 10px;
}
.data{
  display: grid;
  grid-template-columns: 47% 1fr;
  /* column-gap: 0px; */
}
.header-data{
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  color: #f0f1f1;
  position: relative;
  left: 50px;
  background-color: #0fa997;
  padding-top: 50px;
  padding-right: 50px;
  z-index: 1;
}
.img{
  width: 97%;
  height: 93%;
  border-radius: 15px;
  position: relative;
  top: 10px;    width: 97%;
  height: 93%;
  border-radius: 15px;
  position: relative;
  top: 18px;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.fname{
  margin-top: 20px;
  font-size: 68px;
  margin-bottom: 40px;
  font-family: IBM Plex Sans;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ddfaf7;
}
.lname{
  font-size: 68px;
  margin-bottom: 25px;
  font-family: Inter;
  font-weight: bold;
  letter-spacing: 2px;
}
.post{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color:#f0c464;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin-left: 10px;
}
.header-para{
  margin-top: 20px;
  padding-bottom: 30px;
}
.con-name{
  font-weight: bold;
  color:white;
  font-size: 14.5px;
  letter-spacing: 1px;
}
.con{
  display: grid;
  grid-template-columns: 15% 1fr;
  margin-bottom: 5px;
}
.second-div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.bold-year
{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.third-div{
  display: grid;
  grid-template-columns: 60% 1fr;
}
.forth-div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 50px;
}
.img-data{
  background-color: #ee9a7e;
  padding: 50px 50px 50px 70px;
}
.second-one{
  background-color: #e78e7d;
  color: #f0f1f1;
  padding: 50px 40px 50px 50px;
}
.second-two{
  background-color: #e78e7d;
}
.work{
  background-color: #ee9a7e;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 50px;
  color: #f0f1f1;
  padding: 50px 40px 50px 50px;
}
.third-one{
  background-color: #f9b040;
}
.skills{
  background-color: #f0c464;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 50px;
  padding-top: 40px;
  padding-bottom: 25px;
  color: #f0f1f1;
}
.references{
  background-color: #f9b040;
  padding: 50px;
  padding-top: 40px;
  padding-bottom: 35px;
}
.forth-div{
  background-color: #f6931d;
}
.bold{
  font-weight: bold;
  color: white;
  font-size: 15px;
  /* margin-bottom: 3px; */
  font-family: Roboto;
}
.location{
  font-weight: 900;
  /* margin-bottom: 3px; */
  font-family: Lato;
  font-size: 14px;
  color: white;
}
.edu1,.edu2,.work1,.work2{
  margin-bottom: 13px;
}
.edu-year,.work-year{
  font-weight: bold;
  position: relative;
  left: 70px;
  font-family: Roboto;
  font-size: 13.7px;
  color: white;
}
.point{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c74639;
  position: relative;
  top: 17px;
  right: 25px;
}
.edu-data,.work-data{
  margin-left: 23px;
}
.progressbar{
  width:90%;
  height: 7px;
  background-color: #f9fafa;
  position: relative;
  top: 10px;
  margin-bottom: 26px;
}
.fill{
  height: 100%;
  background-color: #0fa997;
}
.fill1{
  width: 80%;
}
.fill2{
  width: 90%;
}
.fill3{
  width: 70%;
}
.fill4{
  width: 60%;
}
.fill5{
  width: 66%;
}
.lang1{
  width: 66%;
}
.lang2{
  width: 86%;
}
.skill,.languages{
  display: grid;
  grid-template-columns: 20% 1fr;
}
.skill-name{
  margin-bottom: 3px;
  color: white;
  font-weight: 700;
}
.refer-name{
  margin-right: 5px;
}
h3{
  font-size: 20px;
  margin-bottom: 20px;
  color: #17968d;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}
.second-div h1{
  position: relative;
  right: 3px;
}
.heading-work{
  position: relative;
  right: 10px;
}
strong{
  font-size: 17px;
}
.refer-con{
  margin-top: 20px;
}
.forth-div{
  padding: 20px 30px  30px 50px;
}
.facebook,.instagram,.linkedin,.twitter{
  display: grid;
  grid-template-columns: 13% 1fr;
  margin-bottom: 10px;
}
.social i{
  position: relative;
  top: 4px;
  color: #f9fafa;
}
.social-data{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.contact i{
  color: #f9b040;
  font-size: 18px;
  position: relative;
  top: 2px;
}
.heading-contact{
  color:#f9fafa;
}
.heading-refer,.heading-lang,.heading-social,.heading-projects,.heading-certi{
  color: #062e29;
  font-weight: bold;
}
.heading-skills{
  color: #71a7ee;
}
.projects,.certi{
  margin-top: 30px;
}
.p-link{
  color: rgb(103, 103, 218);
  margin-bottom: 10px;
}
.certi-para1{
  margin-bottom: 25px;
}
.date{
  font-weight: bold;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.projects,.certi{
  display: none;
}